* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    transition: ease all 0.5s;
}
html,
body {
    height: 100%;
}
body {
    background-color: rgb(250, 250, 250);
}
@media all and (max-width: 1440px) {
    html,
    body {
        height: auto;
    }
}
